<div class="container" style ="margin: '30px'">
    <div style ="text-align: center">
        <h1> Install Material UI in React 😎</h1>
    </div>    
    <div class="card" style ="margin: '50px'">
        <div class="card-header">
                Featured
        </div>
        <div class="card-body">
            <h5 class="card-title"> Special title treatment</h5>
            <h5 class="card-text"> With supporting text below as a natural lead-in</h5>
            <button class="btn btn-info" style="margin-right: 10px; margin-left: 10px;" (click)="simpleAlert()"> Simple Alert </button>
            <button class="btn btn-success" style="margin-right: 10px; margin-left: 10px;" (click)="alertWithSuccess()"> Simple Success </button>
            <button class="btn btn-info" style="margin-right: 10px; margin-left: 10px;" (click)="confirmBox()"> Confirm Box </button>
            <button class="btn btn-error" style="margin-right: 10px; margin-left: 10px;" (click)="errorAlert()"> Error Alert </button>
        </div>
    </div>
</div>
